<div class="welcome">
  <div class="panel panel-card">
    <div class="p">
      <h3>Welcome</h3>
      <p>
        This is a service that can manage by adding a name to a bitcoin address.<br />Touch the "GET MY ADDRESS" button to start.
      </p>
    </div>
  </div>
</div>

<div class="modal-over">
  <div class="modal-center text-center animated fadeInUp" style="width:240px; margin-left: -120px; margin-top: 130px;">
    
    <div class="m-t">
    	<a id="getbutton" class="md-btn md-raised teal-500 p-h-md" (click)="sync()">GET MY ADDRESS</a>
	</div>
  </div>
</div>